{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

{#
  Se va ha comprobar que categoría es para maquetar de forma diferente la categoría de hobo-nickels
#}
{% if term.getName() == 'Hobo nickels' %}
  <div class="basic-categoria-container">
    <img src="{{ file_url(term.get('field_imagen_categoria').entity.fileuri) }}" alt="{{ term.get('field_imagen_categoria').getValue()[0]['alt'] }}">
    <div class="basic-header">
      <div class="basic-header-text">
        <div>
          <div id="block-basic-branding"> 
            <h1>{{ term.get('name').getValue()[0]['value'] }}</h1>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <div>
    {{ term.get('description').getValue()[0]['value']|raw }}
  </div>
{% else %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if not page %}
      <h2><a href="{{ url }}">{{ name }}</a></h2>
      {% endif %}
      {{ title_suffix }}
      {{ content }}
  </div>
{% endif %}